/* Default styles for larger screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styling the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}

.login-box {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 600px;
    padding: 15px;
}
/* Styling the header in the login box */
.login-header {
    text-align: center;
    margin: 20px 0 35px 0;
}

/* Styling the header text in the login box */
.login-header header {
    color: #222;
    font-size: 36px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-field input {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    transition: .3s;
    padding-left: 45px;
    margin-top: 2px;
}



.input-submit button {
    display: inline-block;
    width: 100%;
    height: 60px;
    background: #222; /* Adjust background color */
    border: none;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Styling the line separator */
.line {
    text-align: center;
    margin: 50px 0px;
    position: relative;
}

/* Styling the text within the line separator */
.line-text {
    display: inline-block;
    color: #232836;
    font-size: 16px;
    font-weight: 600;
}

.line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #353434;
    z-index: 0;
}

/* Styling the Google login button */
.google.btn {
    display: block;
    width: 100%;
    height: 60px; /* Increased height */
    background: #fff;
    border: 1px solid #3e78f8;
    border-radius: 25px; /* Increased border radius */
    color: #7099f3;
    text-align: center;
    text-decoration: none;
    font-size: 15px; /* Adjust font size */
    font-weight: bolder;
    line-height: 60px; /* Adjust line height */
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.google.btn i.fa-google {
    color: #3e78f8;
}

.google.btn:hover {
    background: #f5f5f5;
    transform: scale(1.05);
}


.input-submit {
    margin-top: 20px; /* Adjust as needed */
}

/* Styling the submit button */
.submit-btn {
    display: inline-block;
    width: 100%;
    height: 60px; /* Increased height */
    background: #222; /* Adjust background color */
    border: none;
    border-radius: 30px; /* Increased border radius */
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px; /* Adjust font size */
    line-height: 65px; /* Adjust line height */
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.submit-btn:hover {
    background: #222; /* Adjust hover background color */
    transform: scale(1.05);
}

.submit-btn:active {
    transform: scale(0.95);
}

.sign-up-link {
    margin-top: 25px; /* Adjust as needed */
}
