* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* overall page body */
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #dfdfdf; /* Background color for the entire page */
}

/* Styling for the main container */
.container {
    max-width: 700px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);    
    padding: 25px 30px;
    border-radius: 15px;
}

/* Styling for the title within the container */
.container .title {
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

/* Adding a decorative line under the title */
.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* user details form section within the container */
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

/* each input box within the user details form section */
form .user-details .input-box {
    margin-bottom: 25px;
    width: calc(100% / 2 - 20px);
}

/*  label above each input in the user details form */
.user-details .input-box .details {
    margin-bottom: 10px;
    display: block;
}

/* input fields within the user details form */
.user-details .input-box input {
    /* Input field styling */
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus {
    border-color: #9b59b6; /* Highlight border color when focused */
}

/* Styling for the label above the gender input in the form */
.gender-details .details {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}

/* Styling for radio buttons within the gender details */
.gender-details input[type="radio"] {
    align-items: center;
    width: 25px;
}

/* Styling for the label associated with radio buttons */
.gender-details label {
    margin-right: 5px;
}

/* Styling for the submit button in the form */
form .button {
    height: 45px;
    margin: 35px 0;
}

/* Styling for the input within the submit button */
form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: #222;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Styling for the submit button on hover */
form .button input:hover {
    background: #000;
    transform: scale(1.05, 1);
    padding: 15px; /* Add padding on hover for visual effect */
}

/* Styling for the login link section */
.login-link {
    margin-top: 20px;
}

/* Styling for the login link anchor text */
.login-link a {
    color: blue;
    text-decoration: none;
}

