* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styling the overall body of the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}

/* Styling the login box */
.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
    
}

/* Styling the header within the login box */
.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

/* Styling specific properties of the login header text */
.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

/* Styling the input box and its field */
.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}

/* Styling the placeholder text in input fields */
::placeholder {
    font-weight: 500;
    color: #999;
}

/* Styling the input field when focused */
.input-field:focus {
    width: 105%;
}

/* Styling the 'forgot' section */
.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* Styling the 'section' element */
section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

/* Styling the checkbox in the 'section' */
#check {
    margin-right: 10px;
}

/* Styling anchor links */
a {
    text-decoration: none;
}

/* Styling anchor links on hover */
a:hover {
    text-decoration: underline;
}

/* Styling anchor links within 'section' */
section a {
    color: #555;
}

/* Styling the submit button container */
.input-submit {
    position: relative;
}

/* Styling the submit button */
.submit-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

/* Styling the label within the submit button container */
.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Styling the submit button on hover */
.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

/* Styling the sign-up link */
.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

/* Styling anchor links within the sign-up link */
.sign-up-link a {
    color: #000;
    font-weight: 600;
}
